In [1]:
import pandas as pd
import pymongo
import psycopg2
from sqlalchemy import create_engine
from sqlalchemy import text
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
#create a connection to Postgres
#conn = psycopg2.connect(database="postgres", user='postgres', password='Calimg123', host='127.0.0.1', port='5432')
#conn.autocommit = True
#cursor = conn.cursor()

# # create the database in Postgres
#create_database_sql = open('../sql/create_db.sql','r')
#cursor.execute(create_database_sql.read())

#If no error print message
#print("Database created successfully........")

#Closing the connection and database
#conn.close()
#create_database_sql.close()

In [3]:
csv_file = "../output_data/tweets.csv"
twitter_df = pd.read_csv(csv_file)
twitter_df.head()

,Unnamed: 0,Tweets,id,len,date,source,likes,retweets
0,0,RT @MonNightRacing: Tufco 125 at Atlanta / Mon...,1374148885447274496,114,2021-03-22 23:59:59,Twitter Web App,0,14
1,1,RT @MikeClayNFL: Excited to make my @MonNightR...,1374148885313114112,140,2021-03-22 23:59:59,Twitter for iPhone,0,2
2,2,@_scoughlin @annalillian13 @ryleeboyd14 Thank...,1374148880795860994,140,2021-03-22 23:59:58,Twitter for iPhone,3,0
3,3,RT @DNPthree: No stream tonight. Staying in a ...,1374148880137383939,140,2021-03-22 23:59:58,Twitter for iPhone,0,51
4,4,RD2L Monday Playoffs: Doggo vs Meepwned !disco...,1374148875687243776,79,2021-03-22 23:59:57,Streamlabs Twitter,0,0

In [4]:
twitter_df.rename(columns = {'Tweets':'tweets'}, inplace = True) 
twitter_df.head()

,Unnamed: 0,tweets,id,len,date,source,likes,retweets
0,0,RT @MonNightRacing: Tufco 125 at Atlanta / Mon...,1374148885447274496,114,2021-03-22 23:59:59,Twitter Web App,0,14
1,1,RT @MikeClayNFL: Excited to make my @MonNightR...,1374148885313114112,140,2021-03-22 23:59:59,Twitter for iPhone,0,2
2,2,@_scoughlin @annalillian13 @ryleeboyd14 Thank...,1374148880795860994,140,2021-03-22 23:59:58,Twitter for iPhone,3,0
3,3,RT @DNPthree: No stream tonight. Staying in a ...,1374148880137383939,140,2021-03-22 23:59:58,Twitter for iPhone,0,51
4,4,RD2L Monday Playoffs: Doggo vs Meepwned !disco...,1374148875687243776,79,2021-03-22 23:59:57,Streamlabs Twitter,0,0

In [5]:
# twitter_df = twitter_df.set_index("state")
# twitter_df.head()
twitter_df = twitter_df.drop(columns=['Unnamed: 0'])
twitter_df.head()

,tweets,id,len,date,source,likes,retweets
0,RT @MonNightRacing: Tufco 125 at Atlanta / Mon...,1374148885447274496,114,2021-03-22 23:59:59,Twitter Web App,0,14
1,RT @MikeClayNFL: Excited to make my @MonNightR...,1374148885313114112,140,2021-03-22 23:59:59,Twitter for iPhone,0,2
2,@_scoughlin @annalillian13 @ryleeboyd14 Thank...,1374148880795860994,140,2021-03-22 23:59:58,Twitter for iPhone,3,0
3,RT @DNPthree: No stream tonight. Staying in a ...,1374148880137383939,140,2021-03-22 23:59:58,Twitter for iPhone,0,51
4,RD2L Monday Playoffs: Doggo vs Meepwned !disco...,1374148875687243776,79,2021-03-22 23:59:57,Streamlabs Twitter,0,0

In [6]:
twitter_df = twitter_df.set_index("id")
twitter_df.head()

,tweets,len,date,source,likes,retweets
id,,,,,,
1374148885447274496,RT @MonNightRacing: Tufco 125 at Atlanta / Mon...,114,2021-03-22 23:59:59,Twitter Web App,0,14
1374148885313114112,RT @MikeClayNFL: Excited to make my @MonNightR...,140,2021-03-22 23:59:59,Twitter for iPhone,0,2
1374148880795860994,@_scoughlin @annalillian13 @ryleeboyd14 Thank...,140,2021-03-22 23:59:58,Twitter for iPhone,3,0
1374148880137383939,RT @DNPthree: No stream tonight. Staying in a ...,140,2021-03-22 23:59:58,Twitter for iPhone,0,51
1374148875687243776,RD2L Monday Playoffs: Doggo vs Meepwned !disco...,79,2021-03-22 23:59:57,Streamlabs Twitter,0,0

In [7]:
# create a connection to Postgres
conn = psycopg2.connect(database="twitter_db", user='postgres', password='Calimg123', host='127.0.0.1', port='5432')
conn.autocommit = True
cursor = conn.cursor()

In [8]:
# run the schema for the database using the schema file created and the connection to Postgres
schema_sql = open('../sql/schema.sql','r')
cursor.execute(schema_sql.read())

#If no error print message
print("Database Schema Loaded Successfully (Tables Created)........")

# close the schema file
schema_sql.close()

Database Schema Loaded Successfully (Tables Created)........

In [9]:
#database connection
connection_string ="postgres:Calimg123@localhost:5432/twitter_db"
engine = create_engine(f'postgresql://{connection_string}')

In [10]:
#confirm tables
engine.table_names()

['twitter_tweets']

In [11]:
### Load DataFrames into database
twitter_df.to_sql(name='twitter_tweets', con=engine, if_exists='append', index = True)

In [12]:
select_sql = open('../sql/select_df.sql','r')
twit_df = pd.read_sql_query(select_sql.read(), con=engine)
#Close File after use
select_sql.close()

In [13]:
twit_df

,tweets,id,len,date,source,likes,retweets
0,RT @MonNightRacing: Tufco 125 at Atlanta / Mon...,1374148885447274496,114,2021-03-22,Twitter Web App,0,14
1,RT @MikeClayNFL: Excited to make my @MonNightR...,1374148885313114112,140,2021-03-22,Twitter for iPhone,0,2
2,@_scoughlin @annalillian13 @ryleeboyd14 Thank...,1374148880795860994,140,2021-03-22,Twitter for iPhone,3,0
3,RT @DNPthree: No stream tonight. Staying in a ...,1374148880137383939,140,2021-03-22,Twitter for iPhone,0,51
4,RD2L Monday Playoffs: Doggo vs Meepwned !disco...,1374148875687243776,79,2021-03-22,Streamlabs Twitter,0,0
5,RT @ziggyjuice_: I’m posting my miku fuck it 😚...,1374148875548786692,90,2021-03-22,Twitter for iPhone,0,152
6,RT @mikiishikawa: 🤗 happy Monday! https://t.co...,1374148873552326656,57,2021-03-22,Twitter for iPhone,0,4654
7,RT @RealSaltLife: A visual representation of o...,1374148872818327555,121,2021-03-22,Twitter for iPhone,0,3
8,"RT @NphcdaNG: SPEECH BY DR FAISAL SHUAIB, EXEC...",1374148871266435072,140,2021-03-22,Twitter for iPhone,0,16
9,RT @RhianninB: Need some #dndcrafting goodness...,1374148870666481669,89,2021-03-22,Twitter for Android,0,2