In [1]:
import pandas as pd
import pymongo
import psycopg2
from sqlalchemy import create_engine
from sqlalchemy import text
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
# # create a connection to Postgres
# conn = psycopg2.connect(database="postgres", user='root', password='******', host='********.us-east-2.rds.amazonaws.com', port='5431')
# conn.autocommit = True
# cursor = conn.cursor()

# # create the database in Postgres
# create_database_sql = open('../sql/create_db.sql','r')
# cursor.execute(create_database_sql.read())

# #If no error print message
# print("Database created successfully........")

# #Closing the connection and database
# conn.close()
# create_database_sql.close()

In [3]:
# read in csv file from output_data folder
csv_file = "../output_data/tweets.csv"
twitter_df = pd.read_csv(csv_file)
twitter_df.head()

,Unnamed: 0,monday_tweets,friday_tweets,april_tweets
0,0,Every Monday I open my Sling app to watch Raw ...,RT @AngelaC51335397: Happy Jelly belly Friday ...,RT @JimHalpert__: no April Foolâ€™s prank will e...
1,1,happy monday y'all! | PS5 | !socials !discord ...,RT @Timodc: My take on Georgia. The entire exi...,RT @gangbadoy: I need information on HOME CARE...
2,2,RT @FOX5Vegas: NLVPD Officer Alexander Cuevas ...,RT @fakeshoredrive: Happy GOOD Friday\n\nHereâ€™...,@studiowalters Is this an April fools?
3,3,"RT @CrabDay: ðŸ¦€ Monday, March 29th, 2021 ðŸ¦€\n\nðŸ“¸...",RT @SB19Official: ðŸŽ‰#SB19WhatMV7Million\n\nBig ...,RT @WORLDMUSICAWARD: #SuperJuniorâ€™s #Kyuhyun S...
4,4,@TMorri_12 @WashedUpJustin_ Tony get your fell...,RT @StarrRinko: @Jan4Jesus45\n@digi11111\n@Bus...,RT @DistNightPal: Entries for Distance Night 2...

In [5]:
# drop the Unnamed column in the df
twitter_df = twitter_df.rename(columns={'Unnamed: 0':'index'})
twitter_df.head()

,index,monday_tweets,friday_tweets,april_tweets
0,0,Every Monday I open my Sling app to watch Raw ...,RT @AngelaC51335397: Happy Jelly belly Friday ...,RT @JimHalpert__: no April Foolâ€™s prank will e...
1,1,happy monday y'all! | PS5 | !socials !discord ...,RT @Timodc: My take on Georgia. The entire exi...,RT @gangbadoy: I need information on HOME CARE...
2,2,RT @FOX5Vegas: NLVPD Officer Alexander Cuevas ...,RT @fakeshoredrive: Happy GOOD Friday\n\nHereâ€™...,@studiowalters Is this an April fools?
3,3,"RT @CrabDay: ðŸ¦€ Monday, March 29th, 2021 ðŸ¦€\n\nðŸ“¸...",RT @SB19Official: ðŸŽ‰#SB19WhatMV7Million\n\nBig ...,RT @WORLDMUSICAWARD: #SuperJuniorâ€™s #Kyuhyun S...
4,4,@TMorri_12 @WashedUpJustin_ Tony get your fell...,RT @StarrRinko: @Jan4Jesus45\n@digi11111\n@Bus...,RT @DistNightPal: Entries for Distance Night 2...

In [6]:
# twitter_df['index'] = range(1,1+len(twitter_df))
# twitter_df

In [7]:
# twitter_df = twitter_df.rename(columns={"index":"index", "monday_tweets":"monday_tweets","friday_tweets":"friday_tweets","april_tweets":"april_tweets"})
# twitter_df

In [8]:
# set the index to the 'tweets' column in the df
twitter_df = twitter_df.set_index('index')
twitter_df.head()

,monday_tweets,friday_tweets,april_tweets
index,,,
0,Every Monday I open my Sling app to watch Raw ...,RT @AngelaC51335397: Happy Jelly belly Friday ...,RT @JimHalpert__: no April Foolâ€™s prank will e...
1,happy monday y'all! | PS5 | !socials !discord ...,RT @Timodc: My take on Georgia. The entire exi...,RT @gangbadoy: I need information on HOME CARE...
2,RT @FOX5Vegas: NLVPD Officer Alexander Cuevas ...,RT @fakeshoredrive: Happy GOOD Friday\n\nHereâ€™...,@studiowalters Is this an April fools?
3,"RT @CrabDay: ðŸ¦€ Monday, March 29th, 2021 ðŸ¦€\n\nðŸ“¸...",RT @SB19Official: ðŸŽ‰#SB19WhatMV7Million\n\nBig ...,RT @WORLDMUSICAWARD: #SuperJuniorâ€™s #Kyuhyun S...
4,@TMorri_12 @WashedUpJustin_ Tony get your fell...,RT @StarrRinko: @Jan4Jesus45\n@digi11111\n@Bus...,RT @DistNightPal: Entries for Distance Night 2...

In [9]:
# create a connection to Postgres
conn = psycopg2.connect(database="postgres", user='root', password='Shjais2014', host='mypostgresdb.c49c25fxm9ry.us-east-2.rds.amazonaws.com', port='5431')
conn.autocommit = True
cursor = conn.cursor()

In [10]:
# run the schema for the database using the schema file created and the connection to Postgres
schema_sql = open('../sql/schema.sql','r')
cursor.execute(schema_sql.read())

#If no error print message
print("Database Schema Loaded Successfully (Tables Created)........")

# close the schema file
schema_sql.close()

Database Schema Loaded Successfully (Tables Created)........

In [11]:
# create the database connection
engine = create_engine(f'postgresql://root:Shjais2014@mypostgresdb.c49c25fxm9ry.us-east-2.rds.amazonaws.com:5431/twitter_db')

In [12]:
# confirm tables
engine.table_names()

['twitter_tweets']

In [13]:
# Load DataFrame into the database
twitter_df.to_sql(name='twitter_tweets', con=engine, if_exists='append', index = True)

In [14]:
# confirm the Select from table in the DataBase
select_sql = open('../sql/select_df.sql','r')
twit_df = pd.read_sql_query(select_sql.read(), con=engine)

#Close File after use
select_sql.close()

In [15]:
# calling in the table data
twit_df

,index,monday_tweets,friday_tweets,april_tweets
0,0,Every Monday I open my Sling app to watch Raw ...,RT @AngelaC51335397: Happy Jelly belly Friday ...,RT @JimHalpert__: no April Foolâ€™s prank will e...
1,1,happy monday y'all! | PS5 | !socials !discord ...,RT @Timodc: My take on Georgia. The entire exi...,RT @gangbadoy: I need information on HOME CARE...
2,2,RT @FOX5Vegas: NLVPD Officer Alexander Cuevas ...,RT @fakeshoredrive: Happy GOOD Friday\n\nHereâ€™...,@studiowalters Is this an April fools?
3,3,"RT @CrabDay: ðŸ¦€ Monday, March 29th, 2021 ðŸ¦€\n\nðŸ“¸...",RT @SB19Official: ðŸŽ‰#SB19WhatMV7Million\n\nBig ...,RT @WORLDMUSICAWARD: #SuperJuniorâ€™s #Kyuhyun S...
4,4,@TMorri_12 @WashedUpJustin_ Tony get your fell...,RT @StarrRinko: @Jan4Jesus45\n@digi11111\n@Bus...,RT @DistNightPal: Entries for Distance Night 2...
...,...,...,...,...
445,445,Questions for FAQ Monday aaaaaaaaaaand GO!,RT @MsRonnyB: Why are fuckwits Scott &amp; Jen...,RT @ArfanKHXN: I really ainâ€™t see no April foo...
446,446,RT @mrhylkasjs: Holy Monday - let us walk with...,Ready to #MacGyver your Friday?,Well turns out the 8 timed 800s my trainer had...
447,447,RT @nyknicks: ðŸ”Š Taj &amp; Nerlens talk after M...,RT @HogLfinance: What's up HOGLers! Lets celeb...,"RT @TerriIrwin: Beautiful baby Grace, first cr..."
448,448,RT @PokerDmv: ðŸ’° Mo' Money Mondays Baby! ðŸ’°\n\n9...,"RT @divorcereligion: For atheists, every Frida...",RT @dog_feelings: i wasnâ€™t a good dog today\n\...
449,449,RT @MichaelChrisLA: M for Monday! I vetted so ...,RT @KB_HGA: Part of the Good Friday story is a...,RT @rorofosho_: @Dodgers Itâ€™s Aprilâ€™s Fools Da...

In [16]:
#closing the connection to Postgres
conn.close()