In [1]:
import pandas as pd
import pymongo
import psycopg2
from sqlalchemy import create_engine
from sqlalchemy import text
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
# # create a connection to Postgres
# conn = psycopg2.connect(database="postgres", user='postgres', password='Shjais2014', host='127.0.0.1', port='5432')
# conn.autocommit = True
# cursor = conn.cursor()

# # create the database in Postgres
# create_database_sql = open('../sql/create_db.sql','r')
# cursor.execute(create_database_sql.read())

# #If no error print message
# print("Database created successfully........")

# #Closing the connection and database
# conn.close()
# create_database_sql.close()

In [3]:
csv_file = "../output_data/tweets.csv"
twitter_df = pd.read_csv(csv_file)
twitter_df.head()

   Unnamed: 0                                             Tweets
0           0  Tough loss today to a very tough Friends Acade...
1           1  RT @misanharriman: NEW IMAGES OF RICHARD OKORO...
2           2  RT @JamaicaObserver: A St Catherine man is in ...
3           3  RT @arvinjoaquin: A 65-year-old Filipino woman...
4           4  RT @misanharriman: NEW IMAGES OF RICHARD OKORO...

In [4]:
twitter_df.rename(columns = {'Tweets':'tweets'}, inplace = True) 
twitter_df.head()

   Unnamed: 0                                             tweets
0           0  Tough loss today to a very tough Friends Acade...
1           1  RT @misanharriman: NEW IMAGES OF RICHARD OKORO...
2           2  RT @JamaicaObserver: A St Catherine man is in ...
3           3  RT @arvinjoaquin: A 65-year-old Filipino woman...
4           4  RT @misanharriman: NEW IMAGES OF RICHARD OKORO...

In [5]:
# twitter_df = twitter_df.set_index("state")
# twitter_df.head()
twitter_df = twitter_df.drop(columns=['Unnamed: 0'])
twitter_df.head()

                                              tweets
0  Tough loss today to a very tough Friends Acade...
1  RT @misanharriman: NEW IMAGES OF RICHARD OKORO...
2  RT @JamaicaObserver: A St Catherine man is in ...
3  RT @arvinjoaquin: A 65-year-old Filipino woman...
4  RT @misanharriman: NEW IMAGES OF RICHARD OKORO...

In [6]:
twitter_df = twitter_df.set_index('tweets')
twitter_df.head()

Empty DataFrame
Columns: []
Index: [Tough loss today to a very tough Friends Academy team. Need to bounce back Monday at Malverne! ‚öΩÔ∏èüê∏, RT @misanharriman: NEW IMAGES OF RICHARD OKOROGHEYE. In the last confirmed sighting on Monday, 22 March, Richard was seen boarding the 23 b‚Ä¶, RT @JamaicaObserver: A St Catherine man is in custody after trying to set a woman on fire after attacking her on Monday.
https://t.co/NqpEU‚Ä¶, RT @arvinjoaquin: A 65-year-old Filipino woman beaten to the ground on her way to church. This incident happened in New York, Monday mornin‚Ä¶, RT @misanharriman: NEW IMAGES OF RICHARD OKOROGHEYE. In the last confirmed sighting on Monday, 22 March, Richard was seen boarding the 23 b‚Ä¶]

In [7]:
# create a connection to Postgres
conn = psycopg2.connect(database="twitter_db", user='postgres', password='Shjais2014', host='127.0.0.1', port='5432')
conn.autocommit = True
cursor = conn.cursor()

In [8]:
# run the schema for the database using the schema file created and the connection to Postgres
schema_sql = open('../sql/schema.sql','r')
cursor.execute(schema_sql.read())

#If no error print message
print("Database Schema Loaded Successfully (Tables Created)........")

# close the schema file
schema_sql.close()

Database Schema Loaded Successfully (Tables Created)........

In [9]:
#database connection
connection_string ="postgres:Shjais2014@localhost:5432/twitter_db"
engine = create_engine(f'postgresql://{connection_string}')

In [10]:
#confirm tables
engine.table_names()

['twitter_tweets']

In [11]:
### Load DataFrames into database
twitter_df.to_sql(name='twitter_tweets', con=engine, if_exists='append', index = True)

DataError: (psycopg2.errors.InvalidTextRepresentation) invalid input syntax for type json
LINE 1: INSERT INTO twitter_tweets (tweets) VALUES ('Tough loss toda...
                                                    ^
DETAIL:  Token "Tough" is invalid.
CONTEXT:  JSON data, line 1: Tough...

[SQL: INSERT INTO twitter_tweets (tweets) VALUES (%(tweets)s)]
[parameters: ({'tweets': 'Tough loss today to a very tough Friends Academy team. Need to bounce back Monday at Malverne! ‚öΩÔ∏èüê∏'}, {'tweets': 'RT @misanharriman: NEW IMAGES OF RICHARD OKOROGHEYE. In the last confirmed sighting on Monday, 22 March, Richard was seen boarding the 23 b‚Ä¶'}, {'tweets': 'RT @JamaicaObserver: A St Catherine man is in custody after trying to set a woman on fire after attacking her on Monday.\nhttps://t.co/NqpEU‚Ä¶'}, {'tweets': 'RT @arvinjoaquin: A 65-year-old Filipino woman beaten to the ground on her way to church. This incident happened in New York, Monday mornin‚Ä¶'}, {'tweets': 'RT @misanharriman: NEW IMAGES OF RICHARD OKOROGHEYE. In the last confirmed sighting on Monday, 22 March, Richard was seen boarding the 23 b‚Ä¶'}, {'tweets': 'RT @jvrainche: no filter. just 9 plastic surgeries and 80 thousand dollars. happy monday‚ù§'}, {'tweets': 'RT @NYPDHateCrimes: Help identify the below individual wanted in connection to an assault. On Monday, March 29th at 11:40 AM, at 360 West 4‚Ä¶'}, {'tweets': 'RT @NYPDHateCrimes: Help identify the below individual wanted in connection to an assault. On Monday, March 29th at 11:40 AM, at 360 West 4‚Ä¶'}  ... displaying 10 of 200 total bound parameter sets ...  {'tweets': 'RT @Myanmar_Now_Eng: Three people were killed in a junta crackdown on anti-dictatorship protesters in Myingyan, Mandalay, on Monday. Anothe‚Ä¶'}, {'tweets': 'RT @BragonOfBojima: 4K FOLLOWERS... THANK YOU\n\nTO CELEBRATE I AM DOING A GIVEAWAY FOR YAKUZA 6: THE SONG OF LIFE ON STEAM\nTO ENTER JUST RET‚Ä¶'})]
(Background on this error at: http://sqlalche.me/e/13/9h9h)

In [ ]:
select_sql = open('../sql/select_df.sql','r')
twit_df = pd.read_sql_query(select_sql.read(), con=engine)

#Close File after use
select_sql.close()

In [ ]:
twit_df

In [ ]:
conn.close()