In [1]:
import pandas as pd
import pymongo
import psycopg2
from sqlalchemy import create_engine
from sqlalchemy import text
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
# read in csv file from output_data folder
csv_file = "../output_data/monday_tweets.csv"
monday_df = pd.read_csv(csv_file)
monday_df.head()

   Unnamed: 0                                             Tweets
0           0  Every Monday I open my Sling app to watch Raw ...
1           1  happy monday y'all! | PS5 | !socials !discord ...
2           2  RT @FOX5Vegas: NLVPD Officer Alexander Cuevas ...
3           3  RT @CrabDay: ðŸ¦€ Monday, March 29th, 2021 ðŸ¦€\n\nðŸ“¸...
4           4  @TMorri_12 @WashedUpJustin_ Tony get your fell...

In [4]:
# rename column from Uppercase to Lowercase
monday_df.rename(columns = {'Tweets':'monday_tweets'}, inplace = True) 
monday_df.head()

   Unnamed: 0                                      monday_tweets
0           0  Every Monday I open my Sling app to watch Raw ...
1           1  happy monday y'all! | PS5 | !socials !discord ...
2           2  RT @FOX5Vegas: NLVPD Officer Alexander Cuevas ...
3           3  RT @CrabDay: ðŸ¦€ Monday, March 29th, 2021 ðŸ¦€\n\nðŸ“¸...
4           4  @TMorri_12 @WashedUpJustin_ Tony get your fell...

In [5]:
# drop the Unnamed column in the df
monday_df = monday_df.drop(columns=['Unnamed: 0'])
monday_df.head()

                                       monday_tweets
0  Every Monday I open my Sling app to watch Raw ...
1  happy monday y'all! | PS5 | !socials !discord ...
2  RT @FOX5Vegas: NLVPD Officer Alexander Cuevas ...
3  RT @CrabDay: ðŸ¦€ Monday, March 29th, 2021 ðŸ¦€\n\nðŸ“¸...
4  @TMorri_12 @WashedUpJustin_ Tony get your fell...

In [7]:
# read in csv file from output_data folder
csv_file = "../output_data/friday_tweets.csv"
friday_df = pd.read_csv(csv_file)
friday_df.head()

   Unnamed: 0                                             Tweets
0           0  RT @AngelaC51335397: Happy Jelly belly Friday ...
1           1  RT @Timodc: My take on Georgia. The entire exi...
2           2  RT @fakeshoredrive: Happy GOOD Friday\n\nHereâ€™...
3           3  RT @SB19Official: ðŸŽ‰#SB19WhatMV7Million\n\nBig ...
4           4  RT @StarrRinko: @Jan4Jesus45\n@digi11111\n@Bus...

In [8]:
# rename column from Uppercase to Lowercase
friday_df.rename(columns = {'Tweets':'friday_tweets'}, inplace = True) 
friday_df.head()

   Unnamed: 0                                      friday_tweets
0           0  RT @AngelaC51335397: Happy Jelly belly Friday ...
1           1  RT @Timodc: My take on Georgia. The entire exi...
2           2  RT @fakeshoredrive: Happy GOOD Friday\n\nHereâ€™...
3           3  RT @SB19Official: ðŸŽ‰#SB19WhatMV7Million\n\nBig ...
4           4  RT @StarrRinko: @Jan4Jesus45\n@digi11111\n@Bus...

In [9]:
# drop the Unnamed column in the df
friday_df = friday_df.drop(columns=['Unnamed: 0'])
friday_df.head()

                                       friday_tweets
0  RT @AngelaC51335397: Happy Jelly belly Friday ...
1  RT @Timodc: My take on Georgia. The entire exi...
2  RT @fakeshoredrive: Happy GOOD Friday\n\nHereâ€™...
3  RT @SB19Official: ðŸŽ‰#SB19WhatMV7Million\n\nBig ...
4  RT @StarrRinko: @Jan4Jesus45\n@digi11111\n@Bus...

In [11]:
# read in csv file from output_data folder
csv_file = "../output_data/april_tweets.csv"
april_df = pd.read_csv(csv_file)
april_df.head()

   Unnamed: 0                                             Tweets
0           0  RT @JimHalpert__: no April Foolâ€™s prank will e...
1           1  RT @gangbadoy: I need information on HOME CARE...
2           2             @studiowalters Is this an April fools?
3           3  RT @WORLDMUSICAWARD: #SuperJuniorâ€™s #Kyuhyun S...
4           4  RT @DistNightPal: Entries for Distance Night 2...

In [12]:
# rename column from Uppercase to Lowercase
april_df.rename(columns = {'Tweets':'april_tweets'}, inplace = True) 
april_df.head()

   Unnamed: 0                                       april_tweets
0           0  RT @JimHalpert__: no April Foolâ€™s prank will e...
1           1  RT @gangbadoy: I need information on HOME CARE...
2           2             @studiowalters Is this an April fools?
3           3  RT @WORLDMUSICAWARD: #SuperJuniorâ€™s #Kyuhyun S...
4           4  RT @DistNightPal: Entries for Distance Night 2...

In [13]:
# drop the Unnamed column in the df
april_df = april_df.drop(columns=['Unnamed: 0'])
april_df.head()

                                        april_tweets
0  RT @JimHalpert__: no April Foolâ€™s prank will e...
1  RT @gangbadoy: I need information on HOME CARE...
2             @studiowalters Is this an April fools?
3  RT @WORLDMUSICAWARD: #SuperJuniorâ€™s #Kyuhyun S...
4  RT @DistNightPal: Entries for Distance Night 2...

In [16]:
first_df = pd.DataFrame(monday_df['monday_tweets'])
second_df = pd.DataFrame(friday_df['friday_tweets'])
third_df = pd.DataFrame(april_df['april_tweets'])

In [17]:
frames = [first_df,second_df,third_df]

In [18]:
twit_df = pd.concat(frames)

In [21]:
print(twit_df)
output_file = "../output_data/tweets.csv"
twit_df.to_csv(output_file)

                                         monday_tweets friday_tweets  \
0    Every Monday I open my Sling app to watch Raw ...           NaN
1    happy monday y'all! | PS5 | !socials !discord ...           NaN
2    RT @FOX5Vegas: NLVPD Officer Alexander Cuevas ...           NaN
3    RT @CrabDay: ðŸ¦€ Monday, March 29th, 2021 ðŸ¦€\n\nðŸ“¸...           NaN
4    @TMorri_12 @WashedUpJustin_ Tony get your fell...           NaN
..                                                 ...           ...
445                                                NaN           NaN
446                                                NaN           NaN
447                                                NaN           NaN
448                                                NaN           NaN
449                                                NaN           NaN

                                          april_tweets
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
445  RT @ArfanKHXN: I really ainâ€™t see no April foo...
446  Well turns out the 8 timed 800s my trainer had...
447  RT @TerriIrwin: Beautiful baby Grace, first cr...
448  RT @dog_feelings: i wasnâ€™t a good dog today\n\...
449  RT @rorofosho_: @Dodgers Itâ€™s Aprilâ€™s Fools Da...

[1350 rows x 3 columns]